* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Phần Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6;
    text-align: center;
    color: #fff;
    background-color: #1EBFC1;
    border-radius: 14px;
}


.heading {
    margin-top: 16px;
    font-weight: 700;
    color: #0D1111;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.333;
}

.label {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767E7E;
    letter-spacing: 6px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Phần Header */
.header {
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 8px;
}

.header .nav {}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 30px;
    font-size: 1.6rem;
    color: #2F3A3B;
}

.nav a:hover,
.nav .item.active a {
    text-shadow: 1px 0 currentColor;
    color: #2F3A3B;
}

.actions .register {
    font-weight: 400;
    font-size: 1.6rem;
    color: #494949;
}

.actions .sign-up {
    padding: 16px;
    margin-left: 24px;
    display: inline-block;
    min-width: 108px;
    border: 1px #1EBFC1 solid;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #1EBFC1;
    background-color: #fff;
    border-radius: 6px;
}

/* Phần Hero */
.hero {
    padding: 42px 0 80px;
}

.hero .body {
    display: flex;
}

/* Phần Content-block */
.hero .content-block {
    width: 39%;
}

.hero .content-block .text {
    margin-top: 93px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #767E7E;
}

.hero .content-block .desc {
    width: 374px;
    margin-top: 46px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8;
    color: #9DA6A5;
}

.hero .cta {
    display: flex;
    margin-top: 50px;
}

.hero .cta .icon {
    margin-left: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px #0000000D;
}

/* Phần Media-block */
.hero .media-block {
    position: relative;
    width: 61%;
}

.hero .media-block .img {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-summary-1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 150px;
    right: 460px;
    width: 157px;
    padding: 16px 24px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0px 10px 80px 0px #0000000D;
}

.hero-summary-1 .img-block {
    position: relative;
    margin-right: 16px;
}

.hero-summary-1 .img-block::after {
    position: absolute;
    bottom: 8px;
    right: 4px;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}

.hero .subject {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #0D1111;
}

.hero-summary-2 {
    position: absolute;
    bottom: 46px;
    right: 517px;
    width: 124px;
    padding: 16px 24px;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px #0000000D;
    text-align: center;
}

.hero-summary-2 img:last-of-type,
.hero-summary-2 img:first-of-type {
    margin-top: 16px;
}

.hero-summary-3 {
    position: absolute;
    bottom: 42px;
    right: 46px;
    width: 207px;
    padding: 17px 35px;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 12px 80px 0px #0000000D;
}

.avatar-block {
    display: flex;
    margin-top: 8px;
}

.avatar-block .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    background: var(--bg-color, #fff);
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.avatar-block .avatar:first-child {
    margin-left: 0;
}

/* Phần Features */
.features {
    margin-top: 130px;
}

.features .body {
    width: 88%;
    margin-right: auto;
}

.features .heading {
    margin-top: 18px;
    width: 577px;
}

.features .desc {
    margin-top: 18px;
    width: 590px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #767E7E;
}

.features .row {
    margin-top: 80px;
    display: flex;
}

.features .row .column:nth-child(1) {
    width: 37%;
}

.features .row .column:nth-child(2) {
    width: 41%;
}

.features .row .column:nth-child(3) {
    width: 22%;
}

.features .icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 106px;
    border-radius: 18px;
    background-color: var(--bg-color);
}

.features .row .column .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0D1111;
}

.features .row .column .content {
    margin-top: 16px;
    width: 168px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #9DA6A5;
}

/* Phần Popular */
.popular {
    margin-top: 130px;
}

.popular .heading {
    margin-top: 18px;
}

.popular .desc-block {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .desc-block .desc {
    width: 525px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.778;
    color: #767E7E;
}

.popular .desc-block .link {
    font-weight: 700;
    font-size: 14px;
    color: #1EBFC1;
    text-decoration: underline;
    text-decoration-style: solid;
}

.popular .row {
    margin-top: 80px;
    display: flex;
    gap: 46px;
}

.popular .row .column {
    flex: 1;
    position: relative;
}

.popular .column .thumbnail {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.popular .column .body {
    position: absolute;
    top: 289px;
    /**/
    left: 17px;
    /**/
    width: 325px;
    padding: 20px 35px 30px 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 16px 90px 0px #0000000D;
}

.popular .column .title a {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0D1111;
}

.popular .column .price {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #767E7E;
}

.popular .column .price strong {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111;
}

.popular .column .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #9DA6A5;
}

.popular .column .info {
    margin-top: 18px;
}

.popular .column .info span {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #9DA6A5;
}

.popular .column .info span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background: #1EBFC1;
}

.popular .column .info span:nth-child(2) {
    margin-left: 10px;
}